@use "./main.scss";
@use "./styles/partials/colors" as *;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  // width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1rem;
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 0 2rem;
    color: #3e5070;
    background-color: #D6EADF;
    &__header {
      display: flex;
      justify-content: center;
      padding: 1rem 0rem;
      font-weight: 300;
      font-size: 2.65rem;
      // padding-left: 1rem;
      justify-content: center;
    }
    &__line2 {
      display: flex;
      justify-content: center;
      padding: 0rem;
      padding-bottom: 1rem;
      font-size: 2rem;
      font-weight: 300;
    }
    &__b-con {
      display: flex;
      justify-content: center;
      margin: 1rem;
    }
    &__button {
      padding: 0.5rem;
      font-size: 1.5rem;
      background-color: #B8E0D2;
      width: 10rem;
      height: 100%;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1.5rem 0;
    &__header {
      display: flex;
      justify-content: center;
    }
    &__trips {
      padding:1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__info_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__post { 
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 57.5rem;
      width: 100%;
      padding: 1rem 0;
        
        &__left {  
          width: 45%;
          height: 6rem;
          
        }
        &__right {
          width: 45%;
          height: 6rem;
        }
      }
  }

.trip__map{
  display: flex;
  // margin-left: 1rem;
  width: 95%;
}

.logo1{
  width: 2rem;
  height: 2rem;
  background-image: url("./assets/images/sass-logo-new.png");
}

}

@include main.bp_medium {
  .home {
    flex-direction: column;
    // padding: 1rem 1rem;
    &__steps {
      width: 100%;
      height: 100%;
      padding-right: 0px;
    }
    &__right {
      padding-left: 0rem;
      width: 100%;
    }
  }
}
