// primary colors
$Black: #001427;
$Nice-Green: #708D81;
$white: #ffffff;

//secondary colors
$Slate: #F4D58D;
$Cloud: #bdc5d5;

//bg colors

$Graphite: #232940 ;
$Light-Grey: #f7f8f9;

//support-colors
$Green: #158463;
$Orange: #BF0603;
$Red: #8D0801;
