
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modalButton {
  background-color: green;
  color: rgb(252, 252, 252) ;
  padding: 0;
}
.modalButton:hover{
  background-color: rgb(26, 226, 59);
  border: solid 1px lightgreen;
}

.btn_arrow{
margin: 0;
padding: 0;
 }

 .card{
  width: 15rem
 }

 .site-card-wrapper{
display: flex;
flex-direction: row;
justify-content: space-evenly;
 }

   .site-table{
width: 16rem;
   }