map {
  color: #6d909b;
  font-family: "Poppins", sans-serif;
}

.mapCalc {
  background-color: transparent;
  margin: 0;
  padding: 1rem;
  &__header {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2.5px;
  }
  &__text {
    text-align: left;
  }
  &__container {
    &__map {
      width: 80%;
      height: 400px;
      margin: 10px auto;
    }
  }
}

// #googleMap{
//   width: 80%;
// }

#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

.alert {
  &Info {
    color: rgb(112, 93, 218);
  }
  &Danger {
    color: rgb(197, 56, 56);
  }
}
