@use "../../main.scss";


.carCard{
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem 1rem;
    &__label{
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }
    &__carname{
        font-size: 1.1rem;
        font-weight: 700;
    }
}

@include main.bp_medium {
.carCard{
    // width: 45rem;
}
}